/* 
    Document   : Jouet
    Created on : 8 janv. 2014, 11:09:59
    Author     : btssio
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}
h1 {
    padding-right: 10px;
    padding-left: 10px;
    border: 3px solid #3c93d0;
    color: #3c93d0;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

h4 {
    text-align: center;
}

h5 {
    color: #980000;
    text-align: center;
}
